
body {
	margin:0px;
	padding:0px;
	height:100%;
	background: linear-gradient(to top right, #666699 10%, #ccffff 85%);
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}


/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */



header{
	background:#545454;
	color:#19B3E4;
	padding:5px;
	text-align: center;
}

h2 {
	margin-top:1px;
	color:#19B3E4;
}

/*#container {
	
}*/
section{
    padding:5px;
	text-align: center;
    
}

div{
    padding:10px;
	text-align: center;
}

main{
	padding:20px;
		
}

p{
	background:rgb(84, 84, 84, 0.9);
	color:#19B3E4;
	font-family: 'Mulish', sans-serif;
}

footer {
	background:#545454;
	color:#19B3E4;
	padding:10px;
	text-align: center;
	font-family: 'EB Garamond', serif;
}

hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}

button{
	background-color: #6a6a6a;
	color: #19B3E4;
	width: 200px;
	height: 50px;
	border-radius: 12px;
}

#button1{
	color: #19B3E4;
}

#button2{
	color: #FF6347;
}

#button3{
	color: #FF0080;
}


nav {
	position: fixed;
	padding: 10px;
	top: 0;
	left: 0;
	font-size: 20px;
	background:#545454;
	width: 99%;
	
}

#interview2{
	color: #FF6347;
}

#interview3{
	color: #FF0080;
}

.aigodzilla{
	float: left;
	width: 100%;
  	max-width: 500px;
  	height: auto;
	display: flex;
	padding: 10px;
}

.humgodzilla{
	float: right;
	width: 100%;
  	max-width: 350px;
  	height: auto;
	display: flex;
	padding: 10px;
}


@media all and (min-width: 481px) {
	
	
	
	
} /* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
#container {
	width:725px;
	margin:auto;
}	
	
	
} /* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
#container {
	width:950px;
}	
	
	
} /* closes 1024px+ */